@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

$text-font: "Comfortaa", sans-serif;
$text-color: #323232;
$background: lightgray;
$coolDudeOrange: #fc814a;

body {
  color: $text-color;
  margin: 0;
  font-family: $text-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import "./Scss/footer.scss";
@import "./Scss/navigation.scss";
@import "./Scss/home.scss";
@import "./Scss/technology";

svg {
  padding: 20px;
}

.fade-in {
  animation: fadein 1s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .experience {
    flex-direction: column;
  }
  header .info {
    display: none;
  }
}
